body{
    margin:0;
    text-align: center;
}
h1{margin-top:0;
    font-size: 90px;
color: brown;
font-family: cursive;}
p{font-family: 'Times New Roman', Times, serif;}
.a {
    background-color: skyblue;
    padding-top: 200px;
}

.love{
    color:blue;
    text-decoration: underline;

}
.bottom-cloud{position:absolute;}
.top-cloud{position: absolute;
right: 300px;
top: 200px;}